<p id="notice"><%= notice %></p>

<p>
  <strong>Peso:</strong>
  <%= @can.peso %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @can.edad %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @can.integer %>
</p>

<p>
  <strong>Rasa:</strong>
  <%= @can.rasa %>
</p>

<p>
  <strong>Color:</strong>
  <%= @can.color %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @can.precio %>
</p>

<%= link_to 'Edit', edit_can_path(@can) %> |
<%= link_to 'Back', cans_path %>
